@use "base" as *;

.realtors {
  background-color: var(--color-secondary);

  // Full bleed
  // At what col it starts and when it ends
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  //center using grid
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 2.5rem;
  justify-items: center;

  @media only screen and (max-width: $breakpoint-m) {
    grid-column: 1 / -1;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 2rem;
    row-gap: 5vh;
    align-items: center;

    @media only screen and (max-width: $breakpoint-m) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $breakpoint-m) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__sold {
    text-transform: uppercase;
    color: var(--color-grey-light-2);
    margin-top: -3px;
  }
}
